.aboutUs {
    padding-top: 20px;

    .innerContent {
        text-align: justify;
        font-weight: 600;
        letter-spacing: 0.8px;
        word-spacing: 2.5px;
        font-size: 1.1rem;
        padding: 0;

        .sectionTitle {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .serviceGrid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
            gap: 1rem;
            row-gap: 1.5rem;
            width: 100%;
        }

        .serviceCard {
            width: calc(100% - 10px);
            height: 15vh;
            margin: 0 auto;
            border: 1px solid var(--secondary-200);
            border-radius: 2vh;
            padding: 2vh;
            overflow: hidden;
            display: grid;
            place-items: center;
            cursor: pointer;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.231);

            h1 {
                font-size: 2.5vh;
                text-transform: uppercase;
                margin: 0;
            }

            &:hover {
                background: var(--primary-dark);
                color: var(--white-color);
                border-color: var(--primary-dark);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.231);
            }
        }

        .missionCards {
            margin-block: 5vh;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
            gap: 1rem;
            width: 100%;

            .missionCard {
                background: radial-gradient(#33b1ff, #022c47);
                color: var(--white-color);
                border-radius: 3vh;
                padding: 3vh;

                h1 {
                    text-align: center;
                    text-transform: uppercase;
                }

                p {
                    margin: 0;
                    text-align: center;
                    font-size: 2.8vh;
                }

                ul {
                    li {
                        font-size: 2.8vh;
                        text-align: left;
                    }
                }
            }
        }

        .founderMessage {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 2vh;

            .imgContent {
                grid-column: span 2 / span 2;
                width: 100%;
                height: 100%;
                max-height: 500px;
                overflow: hidden;
                border: 1px solid transparent;
                border-radius: 3vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }
            }

            .founderDesc {
                grid-column: span 3 / span 3;
                grid-column-start: 3;
                padding: 3vh;

                h1,
                h5 {
                    text-align: left;
                    text-transform: uppercase;
                    margin: 0;
                    line-height: 1;
                }

                h1 {
                    font-size: 5vh;
                }

                h5 {
                    font-weight: 600;
                    font-size: 3vh;
                    color: var(--primary-dark);
                }

                p {
                    font-size: 2.8vh;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 996px) {
    .aboutUs {
        padding: 20px !important;

        .sectionTitle {
            font-size: 1.6rem !important;
        }

        h3 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }

        .innerContent {
            .founderMessage {
                grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
                grid-template-rows: none;
                gap: 0;

                .imgContent {
                    max-height: 550vh;
                }

                .imgContent,
                .founderDesc {
                    grid-column: none;
                }

                .founderDesc {
                    padding-inline: 0;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .aboutUs {
        padding: 20px !important;

        .sectionTitle {
            font-size: 1.6rem !important;
        }

        h3 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }

        .serviceGrid {
            grid-template-columns: repeat(auto-fit, 1fr);
        }

        .innerContent {
            .founderMessage {
                grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
                grid-template-rows: none;
                gap: 0;

                .imgContent {
                    max-height: 550vh;
                }

                .imgContent,
                .founderDesc {
                    grid-column: none;
                }

                .founderDesc {
                    padding-inline: 0;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .aboutUs {
        padding: 20px !important;

        .sectionTitle {
            font-size: 1.6rem !important;
        }

        h3 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }

        .innerContent {

            .serviceGrid,
            .missionCards {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
            }

            .missionCards {
                .missionCard {
                    h1 {
                        font-size: 3vh;
                    }

                    p,
                    ul>li {
                        font-size: 2vh;
                    }
                }
            }

            .founderMessage {
                grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
                grid-template-rows: none;
                gap: 0;

                .imgContent,
                .founderDesc {
                    grid-column: none;
                }

                .founderDesc {
                    padding-inline: 0;
                }
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 1950px) {
    .sectionTitle {
        font-size: 3.5rem !important;
    }

    .line {
        margin-top: 20px;
    }

    .aboutUs {
        margin-top: 1rem !important;
    }

    .subTitle {
        font-size: 2rem !important;
    }

    .innerContent {
        font-size: 1.5rem !important;
    }
}