.academicPartner {
    width: 100%;
    padding: 0;

    .innerContent {
        background-image: url('../../public/assets/img/Untitled\ design.jpg');
        background-repeat: no-repeat;
        background-position: center/ center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;

        .innerText {
            background: rgba(0, 0, 0, 0.572);
            height: 100%;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: end;

            h1 {
                width: calc(100% - 280px);
                font-size: 6rem;
                text-transform: uppercase;
                font-weight: 800;
                line-height: 5.8rem;
                letter-spacing: 5px;
                padding: 0 40px;
                margin: 0;
            }

            p {
                font-size: 1.6rem;
                padding: 0 40px;
                letter-spacing: 2px;
                margin-bottom: 30px;
            }
        }
    }

    .academicContent {
        padding: 30px 0;

        .subscriptionCards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;

            .subscriptionCard {
                height: 100%;
                min-height: 750px;

                &:nth-child(2) {
                    max-width: 330px;
                    background: rgba(157, 157, 157, 0.318);

                    .planPrice {
                        span {
                            color: rgb(85, 85, 85);
                        }
                    }

                    .cardInfo {
                        svg {
                            color: rgb(233, 151, 0);
                        }
                    }
                }
            }

            .subscriptionCard {
                width: 100%;
                max-width: 300px;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 0 50px rgba(216, 215, 215, 0.959);

                .planType {
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    text-align: center;
                }

                button {
                    width: 100%;
                }

                .planPrice {
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        font-size: 2.2rem;
                    }

                    span {
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: gray;
                        margin-left: 5px;
                    }
                }

                .planBenefits {
                    margin-top: 25px;

                    ul {
                        list-style: none;
                        padding: 0 5px;
                        margin: 0;

                        li {
                            font-size: 15px;
                            font-weight: 600;

                            svg {
                                color: green;
                            }

                            p {
                                line-height: 1rem;
                                font-size: 11px;
                                text-align: justify;

                                &::before {
                                    content: '';
                                    width: 100%;
                                    height: 1px;
                                    background: rgba(128, 128, 128, 0.69);
                                    display: block;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                }

                .cardInfo {
                    font-size: 11px;
                    text-align: center;

                    svg {
                        color: orange;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .academicPartner {
        .innerContent {
            height: 80vh;

            .innerText {
                h1 {
                    padding: 0 20px;
                    width: 100%;
                    font-size: 60px;
                    line-height: 3.8rem;
                }

                p {
                    padding: 0 20px;
                    margin-bottom: 20px;
                }
            }
        }

        .academicContent {
            padding: 20px;

            p {
                text-align: justify;
            }

            .subscriptionCards {
                .subscriptionCard {
                    max-width: none;
                    min-height: auto;

                    &:nth-child(2) {
                        max-width: none;
                    }
                }
            }
        }
    }
}