.advertise {
    padding-top: 20px;

    .advertiseContent {
        text-align: justify;
        font-weight: 600;
        letter-spacing: 0.8px;
        word-spacing: 2.5px;
        font-size: 1.1rem;

        .sectionTitle {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .analytics {
            .totalAudience {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                .totalCount {
                    letter-spacing: 5px;
                    font-size: 4rem;
                }

                .audienceTitle {
                    letter-spacing: 0.1px;
                    font-size: 2rem;
                }
            }
        }

        .priceSection {
            .adsImg {
                width: 90%;
                margin: 0 auto;
            }

            .tableContent {
                margin: auto 0;

                table {
                    font-size: 1rem;
                    letter-spacing: 0.8px;
                    margin-bottom: 5px;

                    th,
                    td {
                        text-wrap: nowrap;
                        text-transform: uppercase;
                        color: var(--black-color);
                        text-align: left;

                        &:last-child {
                            text-align: end;
                        }
                    }

                    .price {
                        color: var(--primary-color);
                    }
                }

                .notes {
                    display: block;
                    text-align: start;
                    color: #d93e3e;
                    font-size: 15px;
                }
            }

            .adsImg {
                width: 100%;
                height: 100%;
                max-height: 300px;
                overflow: hidden;
                position: relative;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 55%;
                    height: 100%;
                    object-fit: contain;
                    position: relative;
                }
            }
        }

        .whyUs {
            .detailCardContent {
                gap: 10px;
                align-items: center;
                margin-top: 30px;

                .detailCard {
                    background: #002e33;
                    background: linear-gradient(45deg, #002e33 0%, var(--primary-dark) 50%, var(--primary-color) 100%);
                    border-radius: 8px;
                    padding: 20px;
                    border: none;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    text-align: center;

                    .detailCardIcon {
                        svg {
                            color: var(--white-color);
                            font-size: 3rem;
                            border: 8px;
                        }
                    }

                    .detailCardBody {
                        color: var(--white-color);
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .clientContent {
            // background-color: rgb(231, 229, 229);
            // border-radius: 30px;
            padding: 20px;

            .contentTitle {
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: 0.8px;
                color: var(--primary-dark);
                text-align: center;
            }

            .clientLogo {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 25px;
                border-radius: 30px;

                div {
                    // background: rgb(255, 255, 255);
                    // padding: 15px;
                    // border-radius: 20px;
                    transition: all 0.3s ease-in-out;
                }

                img {
                    width: 150px;
                    height: 70px;
                    max-height: 100px;
                    aspect-ratio: 10/4;
                    object-fit: contain;
                    mix-blend-mode: darken;
                    opacity: 1;
                    filter: grayscale(0%);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .advertise {
        .sectionTitle {
            font-size: 1.6rem !important;
            margin-bottom: 5px;
            letter-spacing: 0.1px;
            margin-top: 0px;

            &:not(:first-child) {
                margin-top: 10px !important;
            }
        }

        .totalAudience {
            .totalCount {
                font-size: 3rem !important;
                letter-spacing: 1.5px !important;
            }

            h1 {
                font-size: 1.4rem !important;
            }
        }

        .adsImg {
            margin: 10px 0 !important;

            img {
                width: 100% !important;
            }
        }

        .contentTitle {
            font-size: 1.6rem !important;
            font-weight: 500 !important;
        }

        p {
            margin-top: 15px !important;
            font-size: 15px !important;
        }

        ul {
            li {
                font-size: 15px;
            }
        }
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .sectionTitle {
        font-size: 3.5rem !important;
        margin-top: 2.5rem !important;
    }

    .line {
        margin-top: 20px;
    }

    .advertiseContent {
        font-size: 1.5rem !important;

        p {
            margin: 30px 0 !important;
        }

        .detailCardContent {
            grid-template-columns: 1fr 1fr 1fr !important;
            margin-bottom: 3rem !important;

            .detailCard {
                max-width: 550px !important;
            }
        }

        table {

            th,
            td {
                font-size: 1.5rem;
                text-align: left;

                &:last-child {
                    text-align: end;
                }
            }
        }

        .adsImg {
            margin: 20px 0 !important;

            img {
                width: 70% !important;
            }
        }

        .clientContent {
            .contentTitle {
                font-size: 3rem !important;
            }
        }
    }
}