.submissionForm {
    padding: 20px 60px;
    margin-bottom: 30px;

    .innerContent {
        text-align: justify;
        font-weight: 600;

        .sectionTitle {
            text-align: left;
            margin: 0;
            font-size: 1.5rem;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .articleDetails {
            width: 100%;
            padding: 30px;
            border-left: 3px dotted var(--primary-dark);
            border-top: 3px dotted var(--primary-dark);
            border-right: 3px dotted var(--primary-dark);
            border-bottom: 10px solid var(--primary-dark);
            border-radius: 30px;
            margin-top: 25px;
            background: #b4e2ff5c;

            h1 {
                font-size: 25px;
                text-transform: capitalize;
                font-weight: 600;

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: var(--primary-color);
                }
            }
        }
    }
}