.submissionForm {
    padding: 20px 60px;
    margin-bottom: 30px;

    .innerContent {
        text-align: justify;
        font-weight: 600;

        .logoContent {
            display: block;
            align-items: center;

            img {
                width: 150px;
                height: 65px;
                object-fit: contain;
                aspect-ratio: 1/1;
                margin: 0 5px;
            }
        }

        .sectionTitle {
            text-align: left;
            margin: 0;
            font-size: 1.5rem;
        }

        .signatureForm {
            display: flex;
            align-items: center;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .articleDetails {
            width: 100%;
            padding: 30px;
            border-left: 3px dotted var(--primary-dark);
            border-top: 3px dotted var(--primary-dark);
            border-right: 3px dotted var(--primary-dark);
            border-bottom: 10px solid var(--primary-dark);
            border-radius: 30px;
            margin-top: 25px;
            background: #b4e2ff5c;

            h1 {
                font-size: 25px;
                text-transform: capitalize;
                font-weight: 600;

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: var(--primary-color);
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .submissionForm {
        padding: 10px 15px !important;
        margin-top: 0px !important;

        .sectionTitle {
            font-size: 1.8rem !important;
            margin-bottom: 5px;
            letter-spacing: 0.5px !important;
        }

        .innerContent {
            padding: 0;

            .articleDetails {
                padding: 20px;

                .signatureForm {
                    flex-direction: column;
                    align-items: start;

                    label {
                        margin: 0 !important;
                    }

                    button {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}