.breadcrumbContent {
    padding: 60px 0;
    padding-bottom: 0;

    .breadcrumb {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start !important;

        .breadcrumbItem {
            a {
                display: flex;
                flex-wrap: nowrap;
                text-decoration: none !important;
                font-weight: 500;
                letter-spacing: 0.8px;
                color: var(--primary-color);
                font-style: italic;

                &:hover {
                    color: var(--primary-dark);
                }
            }

        }

        .currentPage {
            color: var(--secondary-400);
            font-style: italic;
            font-weight: 500;
            letter-spacing: 0.8px;
        }
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .breadcrumbContent {
        margin-top: 6rem !important;
        padding: 40px;

        .breadcrumbItem,
        .currentPage {
            font-size: 1.8rem !important;
        }
    }
}

@media (max-width: 576px) {
    .breadcrumbContent {
        padding: 20px !important;
        margin-top: 4.2rem !important;
        padding-bottom: 0;
    }
}