.checkout {
    padding: 20px 60px;

    .innerContent {
        text-align: justify;
        font-weight: 600;

        .sectionTitle {
            text-align: left;
            margin: 0;
            font-size: 1.5rem;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .notes {
            margin: 15px 0;
            color: black;
            font-style: italic;
            font-size: 0.8rem;
        }

        .customerDetails {
            background: rgba(216, 216, 216, 0.613);
            padding: 30px;
            margin: 0 1px;
            border-radius: 5px;

            .dataTitle,
            .dataValue {
                font-size: 0.8rem;
            }
        }
    }
}