.contact {
    padding-top: 20px;

    .contactContent {
        text-align: justify;
        font-weight: 600;

        .sectionTitle {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .notes {
            display: block;
            color: #d93e3e;
            font-weight: 500;

            a {
                text-decoration: none;
                color: var(--primary-color);
                transition: 0.3s;

                &:hover {
                    color: var(--black-color);
                }
            }
        }

        .cardDetails {
            text-align: center;

            .cardTitle {
                h1 {
                    color: var(--primary-dark);
                    font-size: 2.2rem;
                    text-transform: uppercase;

                    &::after {
                        content: '';
                        display: block;
                        width: 60%;
                        height: 2px;
                        margin: 0 auto;
                        background: gray;
                    }
                }

                .subTitle {
                    color: var(--primary-color);
                    font-size: 1.5rem;
                    margin-top: 20px;
                }

            }

            .cardBody,
            .cardContact {
                margin-top: 25px;
            }

            p {
                line-height: 18px;

                strong {
                    font-weight: 500;
                    color: var(--primary-dark);
                }
            }
        }

        .contactForm {
            // background: #002e33;
            background: rgb(203, 203, 203);
            // background: linear-gradient(150deg, #002e33 0%, var(--primary-color) 80%, var(--primary-light) 100%);
            padding: 30px;
            border-radius: 25px;
            margin-top: 2rem;

            .sideLogo {
                text-align: center;

                svg {
                    width: 80%;
                }
            }

            .formContent {
                margin: auto 0;
                font-weight: 500;
                letter-spacing: 0.5px;

                form {
                    label {
                        color: black;
                        margin-bottom: 3px;
                    }

                    input,
                    textarea {
                        font-weight: 600;

                        &::placeholder {
                            color: var(--secondary-400);
                            letter-spacing: 0.5px;
                            font-weight: 600;
                        }
                    }

                    button {
                        background: black;
                        border: none;
                        color: var(--white-color);
                        border-radius: 50px;
                        padding: 10px 20px;
                        word-spacing: 2px;
                        font-weight: 500;
                        transition: 0.5s;
                        margin-top: 10px;

                        &:hover {
                            background: var(--white-color);
                            color: var(--primary-dark);
                            transform: translateY(-5px);
                        }
                    }
                }
            }
        }
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .contact {
        .contactContent {
            .sectionTitle {
                font-size: 3rem !important;
            }

            .notes {
                font-size: 1.5rem !important;
            }

            .cardDetails {
                .cardIcon {
                    svg {
                        font-size: 3rem !important;
                    }
                }

                p {
                    font-size: 1.5rem !important;
                    line-height: 1.5rem !important;
                }
            }

            .contactForm {
                padding: 30px 50px;
                margin-top: 2rem;

                .sideLogo {
                    svg {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .contactContent {
        .contactDetails {
            gap: 15px !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 996px) {
    .contactForm {
        padding: 30px 50px;
        margin-top: 2rem;

        .sideLogo {
            text-align: center;

            svg {
                width: 70% !important;
            }
        }

        .formContent {
            padding: 10px 40px;
        }
    }

    .contactDetails {
        p {
            line-height: 25px !important;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 576px) {
    .sectionTitle {
        font-size: 1.6rem !important;
    }

    .contactDetails {
        .cardIcon {
            margin-bottom: 20px !important;
        }
    }
}