.editorialMember {
    padding-top: 20px;

    .sectionTitle {
        text-align: left;
        font-size: 2rem;
    }

    .accordionBtn {
        border-radius: 10px !important;
        padding: 10px 15px;
        background-color: var(--primary-color) !important;
        font-weight: 500;
        color: white !important;
        margin: 0;
        font-size: 1.8rem;
    }

    .accordion-button:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: none !important;
    }

    .accordionBody {
        margin-top: 8px;
        border: 2px solid var(--primary-color) !important;
        border-radius: 10px;
        font-size: 18px;
        padding: 20px !important;

        .memberContent {
            row-gap: 20px;
            padding: 0px;

            .memberCard {
                padding: 0;
                overflow: hidden;
                border-radius: 15px;
                background: #002e33;
                background: linear-gradient(120deg, #002e33 0%, var(--primary-dark) 70%, var(--primary-color) 100%);
                display: flex;
                height: 100%;

                .memberProfile {
                    width: 200px;
                    height: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .memberCardBody {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;

                    .doctorName {
                        width: 100%;
                        font-size: 1.7rem;
                        font-weight: 400;
                        letter-spacing: 0.8px;
                        color: var(--white-color);

                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: var(--primary-color);
                        }
                    }

                    span.occupation {
                        font-size: 1rem;
                        font-weight: 500;
                        letter-spacing: 0.8px;
                        width: 100%;
                        color: var(--white-color);
                    }

                    ul {
                        list-style: none;
                        padding-left: 0px;

                        .details {
                            line-height: 1rem;
                            font-size: 14px;
                            color: var(--secondary-100);
                            margin: 5px 0;

                            &.contact {
                                color: var(--black-color);
                                font-weight: 600;
                            }
                        }
                    }

                }
            }
        }
    }

    .line {
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        top: -8px;
        background: var(--secondary-200);
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .editorialMember {
        max-width: 1720px;
    }

    .memberContent {
        row-gap: 20px !important;

        .memberCard {
            // width: 52rem !important;

            .memberProfile {
                width: 400px !important;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .memberCardBody {
                padding: 10px 10px !important;

                .details {
                    font-size: 1.4rem !important;
                    line-height: 2rem !important;
                    word-break: break-all !important;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .memberCard {
        display: flex;
        flex-direction: column;
        height: auto !important;

        .memberProfile {
            width: 100% !important;
        }

        .memberCardBody {
            padding: 10px 20px !important;
        }
    }

    .accordionBtn {
        font-size: 22px !important;
    }
}