/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    color: var(--white-color);
    font-size: 14px;
    background: #111;
    display: block;
    width: 100%;

    .footer_top {
        padding: 35px 40px;
        background: #1e1e1e;

        h4 {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.8px;
            color: #fff;
            position: relative;
            padding-bottom: 12px;
        }

        .footerContent {
            display: flex;
            justify-content: space-between;

            .footer_contact {
                width: 50%;

                h3 {
                    a {
                        font-size: 2rem;
                        margin: 0 0 10px 0;
                        padding: 2px 0 2px 0;
                        line-height: 1;
                        font-weight: 500;
                        letter-spacing: 1.5px;
                        color: var(--primary-color);
                        text-decoration: none;

                        span {
                            font-weight: 500;
                            color: whitesmoke;
                        }
                    }
                }

                a {
                    img {
                        width: 250px;
                        height: 50px;
                        object-fit: contain;
                    }
                }

                .line {
                    width: 100%;
                    height: 1px;
                    background: rgba(255, 255, 255, 0.2);
                    margin: 10px 0;
                    display: block;
                }

                p {
                    letter-spacing: 1px;
                    word-spacing: 3px;
                }

                .subscribeSection {
                    span {
                        color: white !important;
                        line-height: 13px !important;
                    }

                    input {
                        margin-top: 20px;
                    }

                    .subsBtn {
                        display: block;

                        button {
                            width: 100%;
                            margin-top: 10px;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }
                }
            }

            .linkContent {
                width: 50%;
                display: block;
                justify-content: center;
                align-items: baseline;

                .line {
                    width: 100%;
                    height: 1px;
                    background: rgba(255, 255, 255, 0.2);
                    margin: 10px 0;
                    display: block;
                }

                .contactDetails {
                    display: block;
                    width: 100%;

                    p {
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px !important;
                        line-height: 22px !important;
                        margin-bottom: 0;
                        color: rgba(255, 255, 255, 0.7);
                        font-weight: 400;
                        letter-spacing: 0.3px;
                    }

                    span {

                        a {
                            color: gray;
                            font-weight: 500;
                            text-decoration: none;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }
                }

                .footerLinksContent {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    .footer_links {
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: start;

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            i {
                                padding-right: 2px;
                                color: var(--primary-color);
                                font-size: 18px;
                                line-height: 1;
                            }

                            a {
                                color: rgba(255, 255, 255, 0.6);
                                transition: 0.3s;
                                display: inline-block;
                                line-height: 1;
                                text-decoration: none;
                                font-weight: 500;
                                letter-spacing: 1.5px;

                                &:hover {
                                    text-decoration: none;
                                    color: var(--primary-color);
                                }
                            }

                            li {
                                padding: 3px 0;
                                display: flex;
                                align-items: center;

                                &:first-child {
                                    padding-top: 0;
                                }
                            }
                        }
                    }
                }
            }

        }

    }
}

.footer .footer_newsletter {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

.footer {
    .copyright {
        font-weight: 500;
        letter-spacing: 0.8px;

        strong {
            font-weight: 500;
        }
    }

    .footerCopyRight {
        padding: 15px 40px !important;
    }
}

.footer .credits {
    letter-spacing: 0.8px;

    a {
        padding-top: 5px;
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 500;
        transition: 0.3s;

        &:hover {
            color: var(--white-color);
        }
    }
}

.footer .social_links a {
    display: inline-block;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    line-height: 1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    transition: 0.3s;
    text-decoration: none;

    svg {
        width: 100%;
        height: 100%;
    }
}

.footer .social_links .linkedin:hover {
    background: #0A66C2;
    color: #fff;
    text-decoration: none;
}

.footer .social_links .whatsapp:hover {
    background: #3ad356;
    color: #fff;
    text-decoration: none;
}

.footer .social_links .instagram:hover {
    background-color: #f57f44;
    color: #fff;
    text-decoration: none;
}


@media (max-width: 576px) {
    .footer .footer_top {
        padding: 40px 0px 10px 0px;
        background: #1e1e1e;
        max-width: 100%;
    }

    .footer {
        .footer_top {
            .footerContent {
                display: flex;
                flex-direction: column;

                .footer_contact {
                    padding: 0 20px;
                    margin-bottom: 30px;
                    width: 100vw !important;

                    h3 {
                        a {
                            font-size: 2rem !important;
                        }
                    }
                }

                .footerLinksContent {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0 20px;
                }
            }
        }

        .footerCopyRight {
            padding: 15px 20px !important;
            gap: 20px !important;

            .copyright,
            .credits {
                font-size: 12px;
            }

            .social_links {
                text-align: left !important;

                a {
                    font-size: 17px;
                    padding: 6px 0;
                    width: 34px;
                    margin-right: 5px;

                    svg {
                        width: 22px;
                    }

                    &:hover {
                        background: #0055ff;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .footer {
        .footerContent {
            max-width: calc(100% - 8%);
        }

        .footer_contact {
            h3 {
                a {
                    font-size: 3.5rem !important;
                }
            }

            h4,
            p {
                font-size: 1.5rem !important;
            }

            p {
                line-height: 2.3rem !important;
            }
        }

        .footerLinksContent {
            .footer_links {
                display: flex;
                justify-content: space-between;

                h4,
                a {
                    font-size: 1.8rem !important;
                }

                ul {
                    li {
                        a {
                            font-size: 1.5rem !important;
                        }
                    }
                }
            }
        }
    }
}