/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  color: #4d4643;
  position: relative;

  .feedBack {
    position: fixed;
    top: 6rem;
    right: 15px;
    z-index: 999999;

    .feedBackBtn {
      position: sticky;
      background-color: var(--primary-color);
      color: var(--white-color);
      text-decoration: none;
    }
  }
}

.slider-container {
  width: 80%;
  margin: 0 auto;
}

.slick-slide {
  padding: 20px;
  text-align: center;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.30rem;
  background-color: var(--primary-light);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  border-radius: 0.5rem;
}

.table-responsive::-webkit-scrollbar {
  height: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  height: 5px;
}

a {
  color: var(--black-color);
}

a:hover {
  color: var(--black-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alice', serif;
}

:root {
  --primary-color: #009dfe;
  --primary-light: #b4eef3;
  --primary-dark: #00588f;
  --white-color: #fff;
  --input-placeholder: #70f1fc;
  --black-color: #000;
  --secondary-100: #d9d9d9;
  --secondary-200: #c0c0c0;
  --secondary-400: #8e8e8e;
}

.no-scroll {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Progressive Web App
--------------------------------------------------------------*/
.install-button {
  background: var(--primary-dark) !important;
  padding: 8px 20px;
  border: none;
  border-radius: 99px !important;
  font-size: 15px;
  color: var(--white-color);
  font-weight: 500;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 60px;
  box-sizing: border-box;

  .sectionTitle {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--primary-color);
    letter-spacing: 3.5px;
    text-transform: uppercase;

    &::before {
      content: attr(data-heading);
      display: block;
      position: relative;
      top: 5px;
      font-size: 1.2rem;
      font-weight: 700 !important;
      color: var(--primary-dark);
      font-family: 'Ubuntu';
      text-transform: capitalize;
      text-shadow: none;
      letter-spacing: 0.5px;
    }
  }
}

.scrollToTop {
  position: fixed;
  right: 10px;
  // bottom: 40px;
  bottom: 10px;
  z-index: 9999;

  svg {
    color: var(--primary-color);
    cursor: pointer;
  }
}

.whatsappButton {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  background: linear-gradient(45deg, #25D366, #128C7E);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;

  svg {
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;

  }

  &:hover {
    transform: scale(1.1);
  }
}

// article inner page [vol - 1, issue - 3]
article {
  h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .volOneIssueThreeImg {
    img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      aspect-ratio: 3/2;
      border-radius: 20px;
      margin: 0 5px;
    }
  }

  .history {
    li {
      p {
        margin: 0;
      }
    }
  }
}

// small (mobile or Tablet)
@media (min-width: 576px) and (max-width: 768px) {
  section {
    padding: 40px 50px;

    .sectionTitle {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 576px) {
  section {
    padding: 30px 20px;

    .sectionTitle {
      font-size: 1.8rem !important;
      line-height: 1.6rem !important;
      margin-bottom: 10px !important;
      letter-spacing: 1.5px !important;

      &::before {
        font-size: 1rem;
        top: 0px !important;
      }
    }
  }

  .slider-container {
    width: 100% !important;
    margin: 0 auto;
  }

  .slick-slide {
    padding: 0px !important;
    text-align: center;
  }

  .scrollToTop {
    svg {
      font-size: 32px;
    }
  }
}

@media (min-width: 1400px) and (max-width: 1950px) {
  section {
    padding: 90px 80px;

    .sectionTitle {
      font-size: 4rem;

      &::before {
        font-size: 2rem;
        top: -15px;
      }
    }
  }
}