.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // max-width: 75rem;
    position: relative;
    padding: 50px 0;
    padding-bottom: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background: #d1e1fa;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 70px;
        background: url('../../public/assets/img/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(2px) brightness(80%) opacity(0.8);
        z-index: -5;
    }

    .heroContent {
        width: 65%;
        border-radius: 20px;
        padding: 0px 30px !important;
        // padding-top: 3rem !important;

        .adsContent {
            width: 100%;
            height: 100%;
            padding: 0 30px;
            box-sizing: border-box;

            h1 {
                font-weight: 600 !important;
                font-size: 2.6rem;
                text-wrap: wrap;
                color: var(--black-color);
                letter-spacing: 0.5px;
                line-height: 1.15;
                text-transform: uppercase;
                font-family: 'ubuntu', sans-serif;

                &::before {
                    content: attr(data-heading);
                    display: block;
                    position: relative;
                    top: 10px;
                    left: 5px;
                    font-size: 1.2rem;
                    letter-spacing: 0.8px;
                    font-weight: 500 !important;
                    color: var(--dark-color);
                    text-transform: capitalize;
                }
            }

            .desc {
                font-size: 1.5rem;
                margin: 0;
                word-spacing: 5px;
                line-height: 1.8rem;
                font-weight: 500;
                letter-spacing: 0.6px;
                color: var(--dark-color);
                text-wrap: wrap;
            }

            .subscribeBtn {
                background: transparent;
                color: var(--primary-color);
                border-radius: 99px;
                font-weight: 500 !important;
                font-size: 13px;
                padding: 8px 25px;
                border: 2px solid var(--primary-color);
                transition: 0.3s ease-in-out;

                &:hover {
                    background: var(--primary-color);
                    border-color: var(--primary-color);
                    color: var(--white-color);
                }
            }
        }

        .googleReviewBtn {

            img {
                cursor: pointer;
                width: 100%;
                height: auto;
                max-width: 150px;
                object-fit: contain;
                transition: all 0.3s linear;

                &:hover {
                    transform: translateY(-3px);
                }
            }
        }

        .referBtn {
            background: transparent;
            color: orange;
            border-radius: 99px;
            font-weight: 500 !important;
            font-size: 13px;
            padding: 8px 25px;
            border: 2px solid orange;
            transition: 0.3s ease-in-out;

            svg {
                font-size: 18px;
            }

            &:hover {
                background: orange;
                border-color: orange;
                color: var(--white-color);
            }
        }

        .imgContent {
            overflow: hidden;
            height: auto;
            display: block;
            // filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.904));
            margin: 0 !important;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // position: relative;
                // top: -40px;
                max-height: fit-content;
            }
        }
    }
}

.submitBtn {
    margin-bottom: 20px;

    a {
        background: var(--primary-color);
        padding: 8px 25px;
        text-decoration: none;
        font-size: 15px;
        border-radius: 99px;
        color: var(--white-color);
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background: var(--primary-dark);
            color: var(--white-color);
        }
    }
}

#add-article {
    margin: 0 auto !important;

    .modal-header {
        padding: 20px 25px;

        .add-ticket-header {
            width: 100%;
            color: var(--text-color);
        }

        .add-ticket-header::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--secondary-300);
            position: relative;
        }

        button {
            color: red;
        }
    }

    .modal-body {
        padding: 0 25px;
        padding-bottom: 10px;

        .submitBtn {
            background: red;
        }
    }

    .modal-footer {
        position: relative;
        bottom: 20px;
        padding-right: 20px;
        display: flex;
        align-items: end;
        justify-content: end;
    }
}


// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .hero {
        height: auto;
        margin-top: 120px;
        padding-bottom: 0 !important;

        .heroContent {
            padding: 30px 0;
            box-sizing: border-box;
            margin: 0;
            place-self: center;
            width: 100%;
            max-width: fit-content;

            .adsContent {
                padding: 3rem;
                width: 100%;

                .subtitle {
                    font-size: 3.8rem;
                }

                h1 {
                    font-size: 70px;
                    line-height: 1.2;

                    &::before {
                        font-size: 2rem;
                    }
                }

                .desc {
                    line-height: 1.3;
                    font-size: 50px;
                    margin-bottom: 30px;
                }

                .btnContent {
                    margin-top: 40px !important;

                    .readMoreBtn {
                        font-size: 25px !important;
                        padding: 15px 50px !important;
                    }
                }
            }

            button {
                font-size: 35px !important;
                padding: 10px 40px !important;
            }

            .googleReviewBtn {
                margin-top: 30px !important;

                img {
                    max-width: 300px;
                }
            }

            .imgContent {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-height: none;
                }
            }
        }
    }
}

// extra extra large (desktop)
@media (max-width: 1400px) {}

// large (laptop or Tab)
@media (min-width: 992px) and (max-width: 1200px) {}

// medium (Tab)
@media (min-width: 768px) and (max-width: 992px) {}

// small (mobile or Tablet)
@media (min-width: 576px) and (max-width: 768px) {
    .hero {
        height: auto;

        .heroContent {
            padding-top: 2rem;
            display: flex;
            flex-direction: column;

            .adsContent {
                h1 {
                    font-size: 3rem;
                }

                .desc {
                    font-size: 18px;
                    line-height: 1.2rem;
                }

                .btnContent {
                    padding: 0;


                    .readMoreBtn {
                        padding: 8px 20px;

                        span {
                            font-size: 15px;
                        }
                    }
                }
            }

            .imgContent {
                width: 450px;
                margin: 0 auto;
            }
        }
    }
}

// very small (mobile)
@media (max-width: 576px) {
    .section {
        padding: 30px 20px;

        .section-title {
            font-size: 25px;

            &::before {
                font-size: 12px;
            }
        }
    }

    .hero {
        height: 100vh;

        .heroContent {
            width: 100%;

            .adsContent {
                width: 100%;
                padding: 10px 20px;
                padding-top: 0 !important;

                .subtitle {
                    font-size: 15px;
                }

                h1 {
                    font-size: 30px;
                    line-height: 2rem;
                    letter-spacing: 0;
                }

                .desc {
                    line-height: 1.2rem;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }

                .btnContent {
                    margin-top: 5px !important;

                    .readMoreBtn {
                        font-size: 13px !important;
                        padding: 10px 18px !important;
                    }
                }
            }

            .imgContent {
                width: 100%;
                height: auto;
                text-align: center;
                margin: 0;

                img {
                    width: 100%;
                }
            }
        }
    }
}

// very small (mobile)
@media (max-width: 375px) {
    .hero {
        height: 80vh;

        .heroContent {
            .adsContent {
                padding: 0;
            }
        }
    }
}