.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    // max-width: 75rem;
    position: relative;
    padding: 60px 0;
    padding-bottom: 0px;
    margin-top: 35px;
    background: #d1e1fa;

    .heroContent {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 20px;
        padding: 0px !important;
        // padding-top: 3rem !important;

        .adsContent {
            width: 50%;
            padding: 6rem 3rem;
            padding-left: 0;
            box-sizing: border-box;

            h1 {
                font-weight: 400;
                font-size: 3.15rem;
                text-wrap: wrap;
                color: var(--black-color);
                letter-spacing: 0.5px;
                line-height: 3.3rem;
                text-transform: uppercase;

                &::before {
                    content: attr(data-heading);
                    display: block;
                    position: relative;
                    top: 10px;
                    left: 5px;
                    font-size: 1.2rem;
                    letter-spacing: 0.8px;
                    font-weight: 500 !important;
                    color: var(--dark-color);
                    text-transform: capitalize;
                }
            }

            .desc {
                font-size: 1.5rem;
                margin: 0;
                word-spacing: 5px;
                line-height: 1.8rem;
                font-weight: 500;
                letter-spacing: 0.6px;
                color: var(--dark-color);
                text-wrap: wrap;
            }
        }

        .imgContent {
            overflow: hidden;
            height: auto;
            display: block;
            // filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.904));
            margin: 0 !important;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // position: relative;
                // top: -40px;
                max-height: fit-content;
            }
        }
    }
}

.submitBtn {
    margin-bottom: 20px;

    a {
        background: var(--primary-color);
        padding: 8px 25px;
        text-decoration: none;
        font-size: 15px;
        border-radius: 99px;
        color: var(--white-color);
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background: var(--primary-dark);
            color: var(--white-color);
        }
    }
}

#add-article {
    margin: 0 auto !important;

    .modal-header {
        padding: 20px 25px;

        .add-ticket-header {
            width: 100%;
            color: var(--text-color);
        }

        .add-ticket-header::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--secondary-300);
            position: relative;
        }

        button {
            color: red;
        }
    }

    .modal-body {
        padding: 0 25px;
        padding-bottom: 10px;

        .submitBtn {
            background: red;
        }
    }

    .modal-footer {
        position: relative;
        bottom: 20px;
        padding-right: 20px;
        display: flex;
        align-items: end;
        justify-content: end;
    }
}


// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
    .hero {
        height: auto;
        margin-top: 4rem;

        .heroContent {
            padding: 30px 0;
            box-sizing: border-box;

            .adsContent {
                padding: 3rem 3rem;

                .subtitle {
                    font-size: 3.8rem;
                }

                h1 {
                    font-size: 50px;
                    line-height: 4.2rem;

                    &::before {
                        font-size: 2rem;
                    }
                }

                .desc {
                    line-height: 3rem;
                    font-size: 40px;
                }

                .btnContent {
                    margin-top: 40px !important;

                    .readMoreBtn {
                        font-size: 2rem !important;
                        padding: 15px 50px !important;
                    }
                }
            }

            .imgContent {
                width: 60rem;
                height: 100%;
                margin: 50px 0;
            }
        }
    }
}

// extra extra large (desktop)
@media (max-width: 1400px) {}

// extra large (laptops)
// @media (min-width: 1200px) and (max-width: 1400px) {
//     .hero {
//         padding: 25px 0;

//         .heroContent {
//             padding-top: 5.5rem;

//             .adsContent {
//                 .subtitle {
//                     font-size: 1rem;
//                 }

//                 h1 {
//                     font-size: 50px;
//                     line-height: 3.3rem;
//                 }

//                 .desc {
//                     line-height: 1.5rem;
//                     font-size: 18px;
//                 }

//                 .btnContent {
//                     margin-top: 5px !important;

//                     .book-btn {
//                         font-size: 0.9rem;
//                         padding: 10px 25px;
//                     }
//                 }
//             }

//             .imgContent {
//                 width: 30rem;
//                 height: 18rem;
//                 margin: 15px 0;
//             }
//         }
//     }
// }

// large (laptop or Tab)
@media (min-width: 992px) and (max-width: 1200px) {}

// medium (Tab)
@media (min-width: 768px) and (max-width: 992px) {}

// small (mobile or Tablet)
@media (min-width: 576px) and (max-width: 768px) {
    .hero {
        height: auto;

        .heroContent {
            padding-top: 2rem;
            display: flex;
            flex-direction: column;

            .adsContent {
                h1 {
                    font-size: 3rem;
                }

                .desc {
                    font-size: 18px;
                    line-height: 1.2rem;
                }

                .btnContent {
                    padding: 0;

                    .readMoreBtn {
                        padding: 8px 20px;

                        span {
                            font-size: 15px;
                        }
                    }
                }
            }

            .imgContent {
                width: 450px;
                margin: 0 auto;
            }
        }
    }
}

// very small (mobile)
@media (max-width: 576px) {
    .section {
        padding: 30px 20px;

        .section-title {
            font-size: 25px;

            &::before {
                font-size: 12px;
            }
        }
    }

    .hero {
        height: auto;
        padding: 25px 0;
        padding-bottom: 0;

        .heroContent {
            margin-top: 1rem;
            flex-direction: column;
            row-gap: 30px;

            .adsContent {
                width: 100%;
                padding: 10px 20px;
                padding-top: 0 !important;

                .subtitle {
                    font-size: 15px;
                }

                h1 {
                    font-size: 30px;
                    line-height: 2rem;
                }

                .desc {
                    line-height: 1.2rem;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }

                .btnContent {
                    margin-top: 5px !important;

                    .readMoreBtn {
                        font-size: 13px !important;
                        padding: 10px 18px !important;
                    }
                }
            }

            .imgContent {
                width: 100%;
                height: auto;
                text-align: center;
                margin: 0;

                img {
                    width: 100%;
                }
            }
        }
    }
}