main {
  &.mainLayout {
    // background-image: linear-gradient(180deg, var(--primary-color) 30%, var(--primary-light) 50%);
    position: relative;
  }

  .counter {
    padding: 0;
    margin-top: 10px;

    .innerContent {
      align-items: center;
      gap: 15px;
      background: rgb(231, 229, 229);
      padding: 30px;
      border-radius: 30px;

      .counterInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--white-color);
        padding: 0 20px;
        border-radius: 30px;
        
        .counterCard {
          border-radius: 0px;
          padding: 20px 15px;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          text-align: left;
  
          .dataValue {
            font-size: 30px;
            font-weight: 800;
          }
  
          .dataLabel {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: rgb(161, 161, 161);
          }
        }
      }

    }
  }

  .associated {
    width: 100%;
    background-color: rgb(231, 229, 229);
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 20px !important;

    .innerContent {
      .leftSide {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // display: grid;
        // grid-template-columns: auto auto;
        justify-content: center;
        // align-items: center;
        gap: 20px;
        padding: 25px;
        border-radius: 30px;

        div {
          background: rgb(255, 255, 255);
          // box-shadow: 8px 8px 10px #454545d9;
          padding: 15px;
          border-radius: 20px;
        }

        img {
          width: 200px;
          height: 70px;
          max-height: 100px;
          aspect-ratio: 3/2;
          object-fit: contain;
          mix-blend-mode: darken;
          opacity: 0.6;
          filter: grayscale(100%);
          transition: all 0.3s ease-in-out;

          &:hover {
            opacity: 1;
            filter: grayscale(0%);
          }
        }
      }

      .desc {
        width: calc(100% - 300px);

        p {
          font-family: 'Alice', serif;
          font-weight: 600;
          letter-spacing: 0.5px;
          font-size: 1.2rem;
          text-align: justify;
          word-spacing: 10px;
          line-height: 1.8rem;
          color: var(--black-color);
        }

        a {
          color: var(--white-color);
          text-decoration: none;
          background: #0e3f8a;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 1rem;
          transition: 0.3s ease-in-out;
          border: 1px solid #0e3f8a;

          &:hover {
            background: var(--white-color);
            color: #0e3f8a;
            border-color: #0e3f8a;
          }
        }
      }
    }
  }

  .actionBar {
    .extraInfo {
      font-weight: 600;
      color: var(--primary-dark);
    }
    .actions {
      display: flex;
      justify-content: center;
      width: 100%;
      // border-top: 1px solid var(--secondary-200);
      // border-bottom: 1px solid var(--secondary-200);
      padding: 5px 10px;

      span {
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .btnContent {
          padding: 5px 0px;

          span {
            text-decoration: none;

            .readMoreBtn {
              font-weight: 700;
              color: var(--dark-color);
              text-transform: uppercase;
              font-size: 0.8rem;
              border-radius: 99px;
              padding: 8px 15px;
              background: transparent;
              transition: all 0.3s ease-in-out;
              border: none;
              letter-spacing: 1px;
              font-family: 'Titillium Web', sans-serif;
              background: var(--white-color) !important;
              box-shadow: 0 3px 10px var(--primary-color);
              color: var(--primary-color);
              
              &:hover {
                color: var(--white-color);
                background: var(--primary-color) !important;
              }
            }
          }
        }

        span {
          margin: 0;
          cursor: pointer;

          &.logo {
            background-color: rgb(224, 0, 0);
            border-radius: 99px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-right: 5px;
            padding: 5px;

            &::after {
              display: none !important;
            }

            svg {
              color: white;
            }
          }

        }

        &:not(:last-child):after {
          content: "";
          width: 1.5px;
          position: relative;
          height: 100%;
          background-color: var(--secondary-200);
          display: block;
          margin-left: 10px;
          color: var(--secondary-200);
        }
      }
    }
  }

  .about {
    // background-color: var(--white-color);
    width: 100%;

    .innerContent {
      .desc {
        font-family: 'Alice', serif;
        font-weight: 600;
        letter-spacing: 0px;
        font-size: 1.2rem;
        text-align: justify;
        word-spacing: 10px;
        line-height: 1.8rem;
        color: var(--black-color);
        text-align: center;
      }

      .visionContent {
        .card {
          width: 100%;
          height: 100%;
          padding: 20px;
          border-radius: 20px;
          background: #002e33;
          background: linear-gradient(45deg, #002e33 0%, var(--primary-dark) 50%, var(--primary-color) 100%);

          .line {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: var(--white-color);
          }

          .cardTitle {
            text-align: center;
            color: var(--white-color);
            font-family: 'Alice', serif;
            font-weight: 500;
            letter-spacing: 1px;
          }

          .cardBody {
            margin-top: 15px;
            margin-bottom: 0;
            color: var(--white-color);
            font-family: 'Alice', serif;
            font-size: 1rem;
            letter-spacing: 1px;
            word-spacing: 5px;
            text-align: center;
          }
        }
      }

      .aboutUsDetails {
        table {
          background-color: transparent !important;
          --bs-table-bg: transparent;

          th {
            font-weight: 700;
            text-align: left;
          }

          td {
            font-weight: 600;
            font-family: 'Alice', serif;
            text-align: left;

            &.dataValue {
              color: var(--primary-dark);
              font-weight: 600;
              font-family: 'Alice', serif;
            }
          }

        }
      }
    }
  }

  .articles {
    background: #079cf9a4;
    border-radius: 20px;

    h1 {
      color: var(--white-color) !important;
    }

    .viewMoreBtn {
      span {
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-family: 'Alice', serif;
        color: var(--primary-dark);
        transition: 0.5s;

        &:hover {
          color: black;
        }
      }
    }
  }

  .plans {
    .planCards {
      .planCard {
        box-sizing: border-box;
        width: 200px;
        height: 200px;
        background: var(--primary-color);
        padding: 20px;
      }
    }
  }

  .webAvailable {
    width: 100%;

    .innerContent {
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      &::after,
      &::before {
        position: absolute;
        top: 0;
        width: 250px;
        height: 250px;
        content: '';
        z-index: 2;
      }

      &::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
      }

      &::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
      }

      &:hover {
        .logoContent {
          animation-play-state: paused !important;
        }
      }

      .logoContent {
        display: inline-block;
        animation: 30s slide infinite linear;

        img {
          width: 150px;
          height: 65px;
          object-fit: contain;
          aspect-ratio: 1/1;
          margin: 0 5px;
        }
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

@media (max-width: 990px) {
  .associated {
    .innerContent {
      flex-direction: column;

      .leftSide {
        flex-direction: row !important;
      }

      .desc {
        width: 100% !important;
        margin-top: 30px;
      }
    }
  }
}

// small (mobile or Tablet)
@media (min-width: 576px) and (max-width: 768px) {
  .about {
    padding: 0;

    .innerContent {
      .desc {
        font-size: 17px !important;
        line-height: 1.5rem !important;
        word-spacing: 5px !important;
      }
    }
  }

  .webAvailable {
    padding: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 0 !important;
    .innerContent {
      .desc {
        margin-top: 30px !important;
        font-size: 1.1rem !important;
      }
    }
  }

  .counter {
    margin-bottom: 20px !important;
    .innerContent {
      padding: 25px 20px !important;
      h4:first-child {
        text-align: center;
      }

      .counterInfo {
        box-sizing: border-box;
        padding: 0 !important;
        flex-grow: 1;
        flex-wrap: wrap;
        border-radius: 20px !important;

        .counterCard {
          .dataLabel {
            font-size: 14px !important;
          }

          .dataValue {
            font-size: 18px !important;
          }
        }
      }
    }
  }

  .webAvailable {
    .innerContent {

      &::after,
      &::before {
        width: 50px !important;
      }

      .logoContent {
        img {
          width: 150px;
          height: 65px;
          object-fit: contain;
          aspect-ratio: 1/1;
        }
      }
    }
  }

  .associated {
    .innerContent {
      .leftSide {
        padding: 15px !important;
        gap: 20px !important;

        img {
          width: 150px !important;
        }
      }
    }
  }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
  .about {
    .innerContent {
      .desc {
        font-size: 1.5rem !important;
        line-height: 2.5rem !important;
      }

      table {

        th,
        td {
          font-size: 1.5rem !important;
          text-align: left;

          &:last-child {
            text-align: end;
          }
        }
      }

      .visionContent {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        gap: 2rem !important;

        .card {
          width: auto !important;

          .cardTitle {
            font-size: 3rem;
          }

          .cardBody {
            padding: 15px 0;
            font-size: 1.5rem !important;
          }
        }
      }
    }
  }

  .counter {
    .innerContent {
      .counterCard {
        padding: 30px 15px !important;

        .dataValue {
          font-size: 45px !important;
        }

        .dataLabel {
          font-size: 25px !important;
          font-weight: 700;
          font-family: 'Alice', sans-serif;
          letter-spacing: 0.5px;
          color: var(--primary-color);
        }
      }
    }
  }
}