.articleCard {
    background: var(--white-color);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    width: 305px;
    min-width: fit-content;
    margin: 0 5px;

    &:hover {
        .cardImg img {
            transform: scale(1.05);
        }
    }

    .cardImg {
        width: 100%;
        height: 320px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
            transition: 0.5s ease-in-out;
        }
    }

    .cardBody {
        padding: 15px;
        text-align: left;

        h1 {
            color: var(--primary-color) !important;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }

        p {
            color: rgb(132, 132, 132) !important;
            font-size: 15px;
            font-weight: 700;
            margin: 0;
        }

        .downloadBtn {
            border: none;
            border-radius: 99px;
            font-size: 14px;
            padding: 5px 10px;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: var(--white-color);
            background: rgb(0, 110, 131);
            background: linear-gradient(200deg, rgb(12, 111, 131) 35%, rgb(36, 205, 239) 100%);

            svg {
                font-size: 12px !important;
            }
        }
    }
}