main {
  &.mainLayout {
    // background-image: linear-gradient(180deg, var(--primary-color) 30%, var(--primary-light) 50%);
    position: relative;
  }

  .counter {
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.859);

    .innerContent {
      .counterCard {
        background: var(--white-color);
        box-shadow: 0 0 50px rgba(216, 215, 215, 0.959);
        padding: 30px;
        border-radius: 20px;
        text-align: center;
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 10px 50px rgba(125, 205, 202, 0.789);
        }

        .dataValue {
          color: var(--primary-dark);
          font-size: 2rem;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-weight: 800;
        }

        .dataLabel {
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
        }

        svg {
          font-size: 1.8rem;
        }
      }
    }
  }

  .associated {
    width: 100%;
    padding: 0;
    // margin-bottom: 25px;

    .license {
      padding: 20px !important;
      width: 100%;
      background: rgba(223, 223, 223, 0.634);
    }

    .partner {
      width: 100%;
      padding: 20px !important;
      background: #9fc6ff;
    }

    .innerContent {
      .leftSide {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // display: grid;
        // grid-template-columns: auto auto;
        justify-content: center;
        // align-items: center;
        gap: 20px;
        padding: 25px;
        border-radius: 30px;

        div {
          background: transparent;
          // box-shadow: 8px 8px 10px #454545d9;
          padding: 15px;
          border-radius: 20px;
        }

        img {
          width: 200px;
          height: 70px;
          max-height: 100px;
          aspect-ratio: 3/2;
          object-fit: contain;
          mix-blend-mode: darken;
          transition: all 0.3s ease-in-out;
        }
      }

      .desc {
        width: calc(100% - 300px);

        p {
          font-family: 'Alice', serif;
          font-weight: 600;
          letter-spacing: 0.5px;
          font-size: 1.2rem;
          text-align: justify;
          word-spacing: 10px;
          line-height: 1.8rem;
          color: var(--black-color);
        }

        a {
          color: var(--white-color);
          text-decoration: none;
          background: #0e3f8a;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 1rem;
          transition: 0.3s ease-in-out;
          border: 1px solid #0e3f8a;

          &:hover {
            background: var(--white-color);
            color: #0e3f8a;
            border-color: #0e3f8a;
          }
        }
      }
    }
  }

  .actionBar {
    h6 {
      color: var(--primary-dark);
      font-weight: 700;
      margin: 0;
      letter-spacing: 1.5px;
    }

    h1 {
      color: var(--primary-color);
      font-weight: 700;
      letter-spacing: 1.5px;
      font-size: 1.8rem;

      .extraInfo {
        font-size: 18px;
        font-weight: 600;
        color: var(--black-color);
      }
    }

    .actionCard {
      background: var(--white-color);
      box-shadow: 0 0 50px rgba(216, 215, 215, 0.959);
      padding: 30px;
      border-radius: 10px;
      text-align: left;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        box-shadow: 0 10px 50px rgba(125, 205, 202, 0.789);
      }

      .cardHeader {
        h5 {
          color: var(--primary-dark);
          letter-spacing: 0.5px;
          font-weight: 600;
        }
      }

      .cardBody {
        p {
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.5px;
        }

        span {
          .readMoreBtn {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            border: none;
            background: rgb(0, 110, 131);
            background: linear-gradient(200deg, rgb(12, 111, 131) 35%, rgb(36, 205, 239) 100%);

            &:hover {
              svg {
                transform: translateX(2px);
              }
            }

            svg {
              transition: all 0.1s linear;
              font-size: 13px;
            }
          }
        }
      }
    }

    .upcomingDetailCard {
      background: #fff;
      border-radius: 30px;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      justify-items: center;
      padding: 30px 30px;
      box-shadow: 0 0 50px rgba(216, 215, 215, 0.634);

      .readMoreBtn {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 99px;
        border: none;
        background: rgb(0, 110, 131);
        background: linear-gradient(200deg, rgb(12, 111, 131) 35%, rgb(36, 205, 239) 100%);

        &:hover {
          svg {
            transform: translateX(2px);
          }
        }

        svg {
          transition: all 0.1s linear;
          font-size: 13px;
        }
      }

      .middleImg {
        img {
          display: block;
          width: 100%;
          max-width: 100px;
          object-fit: contain;
        }

        .bookImage {
          display: block;
          object-fit: contain;
          width: 100%;
          max-width: 180px !important;
        }
      }

      .lastDetails {
        text-align: center;

        p {
          margin: 0;
        }

        img {
          width: 100%;
          max-width: 200px;
          object-fit: contain;
        }
      }
    }
  }

  .about {
    width: 100%;
    background: #d1e1fa;

    h1.sectionTitle {
      color: var(--white-color);
      // text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.483);
    }

    .innerContent {
      .desc {
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 1.2rem;
        text-align: justify;
        word-spacing: 10px;
        line-height: 1.8rem;
        color: var(--black-color);
        text-align: justify;
      }

      .visionContent {
        .card {
          width: 100%;
          height: 100%;
          padding: 20px;
          border-radius: 20px;
          background: #002e33;
          background: linear-gradient(45deg, #6dc7ff 0%, #13494f 100%);

          .line {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: var(--white-color);
          }

          .cardTitle {
            text-align: center;
            color: var(--white-color);
            font-weight: 500;
            font-size: 35px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }

          .cardBody {
            margin-top: 15px;
            margin-bottom: 0;
            color: var(--white-color);
            font-size: 1rem;
            letter-spacing: 1px;
            word-spacing: 5px;
            text-align: center;
          }
        }
      }

      .aboutUsDetails {
        table {
          background-color: transparent !important;
          --bs-table-bg: transparent;

          th {
            font-weight: 700;
            text-align: left;
          }

          td {
            font-weight: 600;
            text-align: left;

            &.dataValue {
              color: var(--primary-dark);
              font-weight: 600;
            }
          }

        }
      }
    }
  }

  .mediaPartner {
    width: 100%;
    background: #d1e1fa;

    h1.sectionTitle {
      color: var(--white-color);
      // text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.483);
    }

    .innerContent {
      .comingSoonContent {
        height: 100%;
        display: grid;
        place-items: center;
      }

      .tabContent {
        margin-top: 10px;
        padding: 30px;
        border-radius: 10px;
        background: var(--white-color);
        height: 425px;
        max-height: 425px;
        overflow-y: auto;

        .upcomingDetailCard {
          background: #fff;
          border-radius: 30px;
          overflow: hidden;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          justify-content: center;
          align-items: center;
          justify-items: center;
          padding: 30px 30px;
          box-shadow: 0 0 50px rgba(216, 215, 215, 0.634);

          h1 {
            color: var(--primary-color);
            font-weight: 700;
            letter-spacing: 1.5px;
            font-size: 1.8rem;

            .extraInfo {
              font-size: 18px;
              font-weight: 600;
              color: var(--black-color);
            }
          }

          .readMoreBtn {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            border: none;
            background: rgb(0, 110, 131);
            background: linear-gradient(200deg, rgb(12, 111, 131) 35%, rgb(36, 205, 239) 100%);

            &:hover {
              svg {
                transform: translateX(2px);
              }
            }

            svg {
              transition: all 0.1s linear;
              font-size: 13px;
            }
          }

          .middleImg {
            img {
              display: block;
              width: 100%;
              max-width: 100px;
              object-fit: contain;
            }

            .bookImage {
              display: block;
              object-fit: contain;
              width: 100%;
              max-width: 180px !important;
            }
          }

          .lastDetails {
            text-align: center;

            p {
              margin: 0;
            }

            img {
              width: 100%;
              max-width: 200px;
              object-fit: contain;
            }
          }
        }
      }

      p {
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 1.1rem;
        text-align: justify;
        word-spacing: 10px;
        line-height: 1.8rem;
        color: var(--black-color);
        text-align: left;
        text-wrap: pretty;
      }

      button {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 99px;
        border: none;
        background: rgb(0, 110, 131);
        background: linear-gradient(200deg, rgb(12, 111, 131) 35%, rgb(36, 205, 239) 100%);

        &:hover {
          svg {
            transform: translateX(2px);
          }
        }

        svg {
          transition: all 0.1s linear;
          font-size: 13px;
        }
      }

      .tabs {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 5px;

        button {
          background: transparent;
          border-color: transparent;
          color: var(--primary-color);
          border-radius: 0;
          margin: 0;
          padding: 0 10px;
          font-weight: 600;
          font-size: 1.2rem;

          &.active {
            color: var(--primary-dark);
            border-bottom: 2px solid var(--primary-dark);
          }
        }
      }
    }
  }

  .articles {
    background: #d1e1fa;

    h1 {
      color: var(--white-color) !important;
    }

    .viewMoreBtn {
      span {
        cursor: pointer;
        font-weight: 700;
        word-spacing: 3px;
        letter-spacing: 2px !important;
        color: var(--white-color);
        transition: 0.5s;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        &:hover {
          color: black;
        }
      }
    }
  }

  .plans {
    .planCards {
      .planCard {
        box-sizing: border-box;
        width: 200px;
        height: 200px;
        background: var(--primary-color);
        padding: 20px;
      }
    }
  }

  .webAvailable {
    width: 100%;

    .innerContent {
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      // &::after,
      // &::before {
      //   position: absolute;
      //   top: 0;
      //   width: 250px;
      //   height: 250px;
      //   content: '';
      //   z-index: 2;
      // }

      // &::before {
      //   left: 0;
      //   background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
      // }

      // &::after {
      //   right: 0;
      //   background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
      // }

      &:hover {
        .logoContent {
          animation-play-state: paused !important;
        }
      }

      .logoContent {
        display: block;
        align-items: center;
        // animation: 30s slide infinite linear;

        img {
          width: 150px;
          height: 65px;
          object-fit: contain;
          aspect-ratio: 1/1;
          margin: 0 5px;
        }
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

@media (max-width: 990px) {
  .associated {
    .innerContent {
      flex-direction: column;

      .leftSide {
        flex-direction: row !important;
      }

      .desc {
        width: 100% !important;
        margin-top: 30px;
      }
    }
  }
}

// small (mobile or Tablet)
@media (min-width: 576px) and (max-width: 768px) {
  .about {
    padding: 0;

    .innerContent {
      .desc {
        font-size: 17px !important;
        line-height: 1.5rem !important;
        word-spacing: 5px !important;
      }
    }
  }

  .webAvailable {
    padding: 0;
    margin-bottom: 25px;
  }

  .actionBar,
  .mediaPartner {
    p {
      text-align: justify;
    }

    .upcomingDetailCard {
      grid-template-columns: 1fr !important;
      padding: 20px;

      h1 {
        font-size: 25px !important;
      }

      .middleImg {
        width: 100%;
        margin: 15px 0;
        display: flex;
        justify-content: space-evenly !important;

        img {
          width: 100%;
          max-width: 100px;
          object-fit: contain;
        }
      }

      .lastDetails {
        text-align: center;

        p {
          font-weight: 500;
          color: var(--primary-dark);
          font-family: 'Ubuntu';
          margin: 0;
        }

        img {
          width: 100%;
          max-width: 200px;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 30px !important;

    .innerContent {
      .desc {
        word-spacing: 1px !important;
        margin-top: 30px !important;
        font-size: 1.1rem !important;
      }

      .visionContent {
        padding: 0px !important;

        .card {
          padding: 15px !important;
        }
      }
    }
  }

  .articles {
    padding: 30px 0px !important;

    .container {
      padding: 0 !important;
    }

    .viewMoreBtn {
      margin-top: 0 !important;

      span {
        font-size: 15px;
      }
    }
  }

  .counter {
    .innerContent {
      padding: 30px !important;

      h4:first-child {
        text-align: center;
      }

      .counterInfo {
        box-sizing: border-box;
        padding: 0 !important;
        flex-grow: 1;
        flex-wrap: wrap;
        border-radius: 20px !important;

        .counterCard {
          .dataLabel {
            font-size: 14px !important;
          }

          .dataValue {
            font-size: 18px !important;
          }
        }
      }
    }
  }

  .webAvailable {
    .innerContent {

      &::after,
      &::before {
        width: 50px !important;
      }

      .logoContent {
        img {
          width: 150px;
          height: 65px;
          object-fit: contain;
          aspect-ratio: 1/1;
        }
      }
    }
  }

  .associated {
    .innerContent {
      .leftSide {
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        padding: 15px !important;
        gap: 10px !important;

        div {
          padding: 0 !important;

          img {
            width: 150px !important;
          }
        }
      }
    }
  }

  .actionBar,
  .mediaPartner {
    padding: 30px 30px;

    h1 {
      word-wrap: break-word;
      letter-spacing: 0.5px !important;
      line-height: 1.8rem;
      font-size: 1.8rem !important;
    }

    p {
      line-height: 1.5rem !important;
      text-align: justify !important;
    }

    .upcomingDetailCard {
      grid-template-columns: 1fr !important;
      padding: 20px !important;
      border-radius: 20px !important;

      h1 {
        font-size: 25px !important;
      }

      p {
        text-align: left !important;
      }

      .middleImg {
        width: 100%;
        margin: 15px 0;
        display: flex;
        justify-content: space-evenly !important;

        img {
          width: 100%;
          max-width: 100px;
          object-fit: contain;
        }
      }

      .lastDetails {
        text-align: center;

        p {
          font-weight: 500;
          color: var(--primary-dark);
          font-family: 'Ubuntu';
          margin: 0;
        }

        img {
          width: 100%;
          max-width: 200px;
          object-fit: contain;
        }
      }
    }
  }
}

.mediaPartner {
  padding: 30px 10px;

  .tabs {
    width: 100%;
    overflow-x: auto;
    text-wrap: nowrap;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  .tabContent {
    padding: 10px !important;
    min-height: 680px;
  }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
  .about {
    .innerContent {
      .desc {
        font-size: 1.5rem !important;
        line-height: 2.5rem !important;
      }

      table {

        th,
        td {
          font-size: 1.5rem !important;
          text-align: left;

          &:last-child {
            text-align: end;
          }
        }
      }

      .visionContent {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        gap: 2rem !important;

        .card {
          width: auto !important;

          .cardTitle {
            font-size: 3rem;
          }

          .cardBody {
            padding: 15px 0;
            font-size: 1.5rem !important;
          }
        }
      }
    }
  }

  .counter {
    .innerContent {
      .counterCard {
        padding: 30px 15px !important;

        .dataValue {
          font-size: 45px !important;
        }

        .dataLabel {
          font-size: 25px !important;
          font-weight: 700;
          font-family: 'Alice', sans-serif;
          letter-spacing: 0.5px;
          color: var(--primary-color);
        }
      }
    }
  }
}