.articleCard {
    overflow: hidden;
    cursor: pointer;
    min-width: fit-content;
    margin: 0 !important;
    width: 180px;

    &:hover {
        .cardImg img {
            transform: scale(1.05);
        }
    }

    .cardImg {
        width: 180px;
        overflow: hidden;

        &.webinar {
            width: 50rem !important;
        }

        img {
            width: 100%;
            height: 100%;
            // object-fit: cover;
            transition: 0.5s ease-in-out;
        }
    }

    .cardBody {
        padding: 10px 0;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background: transparent !important;

        h1 {
            color: var(--primary-color) !important;
            font-size: 12px;
            font-weight: 700;
            margin: 0;

            &.journalTitle {
                font-size: 2rem;
                font-weight: 600 !important;
            }
        }

        p {
            color: rgb(132, 132, 132) !important;
            font-size: 12px;
            font-weight: 700;
            margin: 0;
            text-align: left;

            &.subtitle {
                font-size: 18px;
                color: #000 !important;
            }

            &.webinarSubtitle {
                font-size: 18px;
            }
        }

        .downloadBtn {
            border: none;
            border-radius: 99px;
            font-size: 10px;
            padding: 2px 5px;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: var(--black-color);
            border: 1px solid rgb(0, 110, 131);
            // background: linear-gradient(200deg, rgb(12, 111, 131) 35%, rgb(36, 205, 239) 100%);
            background: transparent;
            margin: 0;

            svg {
                font-size: 10px !important;
            }
        }

        .buttonGroup {
            display: flex;
            gap: 10px;
            margin-top: 10px;

            button {
                padding: 5px 8px;
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
        }
    }
}

.homePageArticleSlider {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    margin: 20px 0;

    &::-webkit-scrollbar {
        width: 0.30rem;
        background-color: var(--primary-light);
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color) !important;
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar {
        height: 5px;
    }

    tr {
        margin: 0 5px;
    }
}

@media (max-width: 576px) {
    .articleCard {
        width: 180px;
        margin-top: 30px;

        &.journalCard,
        &.webinarCard {
            width: 100%;
            gap: 10px !important;
            flex-direction: column;

            .cardImg {
                &.webinar {
                    width: 100% !important;
                }
            }
        }
    }
}