.interview {
    padding-top: 20px;

    .interviewContent {
        text-align: justify;
        font-weight: 600;
        letter-spacing: 0.8px;
        word-spacing: 2.5px;
        font-size: 1.1rem;

        .mainLogo {
            width: 100%;
            max-width: 300px;
            height: auto;
            object-fit: contain;
            margin: 20px 0;
        }

        .interviewDesc {
            font-weight: 400;
            font-family: 'Ubuntu';
        }

        .sectionTitle {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
            font-family: 'Ubuntu', sans-serif;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .topBarDetails {
            .topLeftContent {
                width: 100%;
                max-width: 480px;
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }

            .topRightContent {
                .interviewerName {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 1.1;
                    text-align: left;
                    text-wrap: pretty;
                    text-transform: uppercase;
                    color: var(--primary-color);
                    margin-bottom: 10px;
                }

                .designation {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.1;
                    text-align: left;
                    text-transform: uppercase;
                    color: var(--primary-dark);
                    margin-bottom: 10px;
                }

                .interviewTitle {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.1;
                    text-align: left;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                .socialLinks {
                    display: flex;
                    gap: 10px;

                    span {
                        padding: 4px 8px;
                        border-radius: 5px;
                        color: var(--white-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        font-size: 15px;
                        cursor: pointer;

                        &.linkedInBtn {
                            background: #0A66C2;
                        }

                        &.wikiBtn {
                            background: rgba(128, 128, 128, 0.381);
                            color: #000;
                        }

                        &.instagramBtn {
                            background: orangered;
                        }

                        &:last-child {
                            background: gray;
                        }
                    }
                }
            }

        }

        .interviewHTML {
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--primary-color);
                font-family: 'Ubuntu';
                margin: 0;
            }

            hr {
                margin: 0;
                margin-bottom: 10px;
            }

            p {
                letter-spacing: 0.8px;
                font-size: 1rem;

            }
        }

        .innerContent {
            padding-block: 30px;

            .interviewCard {
                width: 100%;
                max-width: 260px;
                height: auto;
                overflow: hidden;
                border-radius: 10px;
                margin: 5px 10px;

                .cardTop {
                    width: 100%;
                    height: 200px;

                    img {
                        width: 100%;
                        height: 100%;
                        max-height: 200px;
                        object-fit: cover;
                    }
                }

                .cardBody {
                    padding: 10px 0;
                    font-weight: 600;
                    letter-spacing: 1;
                    word-spacing: 2px;

                    .interviewerName {
                        font-size: 25px;
                        font-weight: 600;
                        line-height: 1.1;
                        text-align: left;
                        text-wrap: pretty;
                        text-transform: uppercase;
                        color: var(--primary-color);
                        margin-bottom: 0;
                    }

                    .cardTitle {
                        text-align: left;
                        text-wrap: pretty;
                        font-size: 15px;
                        font-weight: 500;
                        margin-bottom: 0;
                        margin-top: 5px;
                    }

                    .readMoreBtn {
                        font-size: 15px;
                        background: var(--primary-color);
                        color: var(--white-color);
                        border-color: var(--primary-color);
                        font-weight: 500;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .interview {
        padding-top: 0;

        .interviewContent {
            .topRightContent {
                .interviewerName {
                    font-size: 30px !important;
                    margin: 10px 0;
                }

                .designation {
                    font-size: 18px !important;
                }
            }

            .innerContent {
                .interviewCard {
                    max-width: fit-content;

                }
            }
        }
    }
}