.policy {
    .policyContent {
        .sectionTitle {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
        }

        .notes {
            text-align: left;
            color: red;
            background: rgba(247, 0, 0, 0.26);
            border-left: 5px solid red;
            padding: 20px;
            font-size: 14px;

            .noteTitle {
                font-size: 25px !important;
                font-weight: 700;
                letter-spacing: 1px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .noteLink {
                color: var(--primary-color);
                cursor: pointer;
            }
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .policyDetails,
        .note,
        ul>li,
        ol>li {
            text-align: justify;
            letter-spacing: 0.8px;
        }

        ol {
            li {
                margin: 5px 0;
            }
        }

        .subTitle {
            font-size: 1.3rem;
            color: var(--primary-dark);
        }

        .note {
            font-style: italic;
            color: var(--primary-dark);
            font-weight: 500;
        }
    }
}

@media (min-width: 1400px) and (max-width: 1950px) {
    .sectionTitle {
        font-size: 3.5rem !important;
    }

    .line {
        margin-top: 20px;
    }

    .policy {
        margin-top: 1rem !important;
    }

    .policyContent {
        font-size: 1.5rem !important;
    }

    .subTitle {
        font-size: 2.5rem !important;
    }
}