.supportUs {
    padding-top: 20px;

    .innerContent {
        text-align: justify;
        font-weight: 600;
        letter-spacing: 0.8px;
        word-spacing: 2.5px;
        font-size: 1.1rem;

        .sectionTitle {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }


        ul {
            padding: 0;

            li {
                margin: 10px 0;
                list-style: none;

                strong {
                    font-weight: 500;
                    color: var(--primary-dark);
                }
            }
        }
    }

    .subTitle {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    .allSponsor {
        background: rgb(220, 220, 220);
        padding: 20px 15px;
        border-radius: 20px;

        .sponsorContent {
            display: flex;
            justify-content: center;
            align-items: center;

            .sponsorImg {
                img {
                    width: auto;
                    height: 50px;
                    filter: grayscale(100%);
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .supportUs {
        padding: 20px !important;

        .sectionTitle {
            font-size: 1.6rem !important;
        }

        h3 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }
    }
}

@media (min-width: 1400px) and (max-width: 1950px) {
    .sectionTitle {
        font-size: 3.5rem !important;
    }

    .line {
        margin-top: 20px;
    }

    .supportUs {
        margin-top: 1rem !important;
    }

    .subTitle {
        font-size: 2rem !important;
    }

    .innerContent {
        font-size: 1.5rem !important;
    }
}