.termsAndConditions {
    padding: 20px 60px;

    .innerContent {
        text-align: justify;
        font-weight: 600;

        .subHeading {
            font-family: 'Ubuntu';
        }

        .sectionTitle {
            text-align: left;
            font-size: 1.5rem;
            margin: 0;
        }

        h3 {
            font-size: 1.2rem;
        }

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--secondary-200);
        }

        .headLines {
            color: var(--black-color);
            font-weight: 600;
            letter-spacing: 0.8px;
        }
    }
}

@media (max-width: 576px) {
    .termsAndConditions {
        padding: 20px !important;

        .sectionTitle {
            font-size: 1.6rem !important;
        }

        h3 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }
    }
}

@media (min-width: 1400px) and (max-width: 1950px) {
    .sectionTitle {
        font-size: 3.5rem !important;
    }

    .line {
        margin-top: 20px;
    }

    .termsAndConditions {
        margin-top: 1rem !important;
    }

    .subTitle {
        font-size: 2rem !important;
    }

    .innerContent {
        font-size: 1.5rem !important;
    }
}