.magazineSection {
    background: rgba(128, 128, 128, 0.094);
    padding-top: 130px;

    .innerContent {
        .magazineTitle {
            p {
                font-weight: 600;
                font-size: 25px;
                text-transform: uppercase;

                &::after {
                    content: '';
                    width: 30px;
                    height: 3px;
                    display: block;
                    background: var(--primary-color);
                }
            }
        }

        .webinarContainer {
            .webinarCard {
                width: 100%;
                max-width: 360px;
                height: auto;
                cursor: pointer;

                .topContent {
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 10px;
                    }
                }

                .bottomContent {
                    padding: 10px 0;

                    p {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: 'Ubuntu', sans-serif;
                        line-height: 1.2;
                        color: var(--primary-dark);
                    }
                }
            }
        }
    }
}


@media (min-width: 1400px) and (max-width: 1950px) {

    .magazineSection {
        padding-top: 150px !important;

        .innerContent {
            padding: 0;

            .magazineTitle {
                p {
                    font-size: 2.2rem !important;

                    &::after {
                        width: 80px;
                    }
                }
            }

            .webinarContainer {
                .webinarCard {
                    .bottomContent {
                        p {
                            font-size: 1.1rem;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
}