.magazineSection {
    background: rgba(128, 128, 128, 0.094);
    padding-top: 130px;

    .innerContent {
        .magazineTitle {
            p {
                font-weight: 600;
                font-size: 25px;
                text-transform: uppercase;

                &::after {
                    content: '';
                    width: 30px;
                    height: 3px;
                    display: block;
                    background: var(--primary-color);
                }
            }
        }

        .latestMagazine {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            margin: 20px 0;

            &::-webkit-scrollbar {
                width: 0.30rem;
                background-color: var(--primary-light);
                border-radius: 0.5rem;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--primary-color) !important;
                border-radius: 0.5rem;
            }

            &::-webkit-scrollbar {
                height: 5px;
            }

            tr {
                margin: 0 5px;
            }

            .articleCard {
                overflow: hidden;
                cursor: pointer;
                min-width: fit-content;
                margin: 0 !important;
                width: 100%;
                max-width: 280px;

                .cardImg {
                    width: 280px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                        transition: 0.5s ease-in-out;
                    }
                }

                .cardBody {
                    padding: 10px 0;
                    text-align: left;
                    background: transparent !important;

                    .topContent {
                        p {
                            color: #0f2557 !important;
                            font-size: 15px;
                            font-weight: 700;
                            margin: 0;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;
                        }
                    }

                    .bottomContent {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;

                        h1 {
                            color: var(--primary-color) !important;
                            font-size: 16px;
                            font-weight: 700;
                            margin: 0;
                        }

                        p {
                            color: #0f2557 !important;
                            font-size: 16px;
                            font-weight: 700;
                            margin: 0;
                            text-align: left;

                            &.runningArrow {
                                display: flex;
                                gap: 2px;

                                .arrow {
                                    color: #0f2557;
                                    animation: arrowRun 1s infinite;

                                    &.arrow1 {
                                        animation-delay: 0s;
                                    }

                                    &.arrow2 {
                                        animation-delay: 0.25s;
                                    }

                                    &.arrow3 {
                                        animation-delay: 0.5s;
                                    }

                                    &.arrow4 {
                                        animation-delay: 0.75s;
                                    }

                                    @keyframes arrowRun {

                                        0%,
                                        100% {
                                            color: #0f2557;
                                        }

                                        50% {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }

                        .downloadBtn {
                            border: none;
                            border-radius: 99px;
                            font-size: 14px;
                            padding: 2px 8px;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            color: var(--white-color);
                            border: 1px solid #0f2557;
                            background: #0f2557;
                            margin: 0;

                            svg {
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .magazineSection {
        padding-top: 100px;

        .innerContent {
            padding: 0;

            .magazineTitle {
                p {
                    font-size: 20px;
                }
            }

            .latestMagazine {
                margin: 0;

                .articleCard {
                    width: 100%;
                    max-width: 155px;
                    margin-top: 30px;

                    .cardImg {
                        width: 100%;
                    }

                    .cardBody {
                        .downloadBtn {
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}